/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

// preview pages
.page-template-preview-php {

  /* Flexslider */
  .flexslider {
    .flex-control-nav {
      li {
        padding: 0;
        a {
        	padding: 10px 20px 0 10px;
          font-size: 1em;
        }
      }
    }
  }
}